header, footer {background-color: #6Ac5fe;}

Header {
    padding: 50px;
    }

p {color: #000080;
    font-family: 'PT Sans Narrow', sans-serif;} 

h1, h2 {color: #0077b6;
        text-align: center;
        font-family: 'PT Sans Narrow', sans-serif;}

.name {font-family: 'Bebas Neue', sans-serif;}

.page2intro, .page3intro {text-align: center;}

h1 {font-size: 50px;}

a:hover {color: #6Ac5fe;}

div a:hover {color: #6Ac5fe;}

nav a, .ep {color: #caf0f8;
    background-color: #000080;
    padding: 10px;
    margin: 10px;}

.topleft {float: left;
    font-family: 'Bebas Neue', sans-serif;}
.nav-links, .firstrow {float:right;
    font-family: 'Bebas Neue', sans-serif;
    }

#hamicon, #close {cursor:pointer;}

#hamicon {width: 40px;}
    .firstrow {display: flex}

@media only screen and (min-width: 901px) {
    #hamicon, #close {display: none;}
    }

@media only screen and (max-width: 900px) {
    a { display: block;
    padding: 5px;
}
    #navlinks {display: none}
    }

.nav-links li {display: block;
    margin: 10px 0;
      }

div {padding: 10px; 
    padding-bottom: 20px;}

.homephoto, .resume {display: flex; 
    justify-content: center;
}

img { border-radius: 2em;}
.intro { position: relative;
    margin: 0 auto;
    width: 500px;
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 50px;
}

.information {display: flex; 
    color: #000080; 
    justify-content: space-around; 
    margin-right: 200px; 
    margin-left: 200px;}

.email {color:#000080}

.linkedin {color: #000080}

.phone {color: #000080}

footer {padding: 10px;}

.footer {text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;}

@media only screen and (max-width: 900px) { 
    .information {display: flex; 
                flex-wrap: wrap;}
    .intro {display: none;}
    .smallintro {display: block;}
    img {
          display: flex;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 100%;
            height: auto;
            margin: 10px;
        }
}

@media only screen and (min-width: 901px) {
    .intro {display: block}
    .smallintro{display: none}
    .instapost, .story1, .story2, .tiktok {justify-content: space-between;
        display: flex
    }
}

.skip {background-color: #6Ac5fe;
    padding: 5px;
    border: 1px solid #000080;
    text-decoration: none;
    position: absolute;
    top: 10p;
    left: -999px;}

.skip:focus {left: 10px;}

.tap {text-align: center;}

/* remember to: 
add the hamburger nav icon, 
flex wrap all of the photos so they stack on top of each other, 
add press and resume, 
make resume downloadable, 
attach links to insta posts 
resize all images */ 


.line-with-words {
    position: relative;
    display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  margin: 0;
  }
  
  .line {
    display: block;
    width: 100%;
    height: 2px; 
    background-color: #0077b6; 
    position: absolute;
    top: 50%;
  }
  
  .words {
    background-color: white; 
    padding: 0 10px; 
    position: relative;
    z-index: 1;
    color: #0077b6;
    font-family: 'PT Sans Narrow', sans-serif;
  }



